// COLORS
$color-primary-light: rgb(25, 234, 25);
$color-primary-dark: rgb(19, 118, 19);

$color-secondary-light: rgb(245, 245, 11);
$color-secondary-dark: rgb(184, 122, 7);

$color-tertiary-light: rgb(113, 113, 249);
$color-tertiary-dark: rgb(230, 17, 230);

$color-gray-dark: #333;
$color-gray-light: #777;
$color-grey-light-1: #f7f7f7;

$color-text-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;